body {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
    background: #10064C;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background: white;
    color: #FF443B;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 30px;
}
h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #FF443B;
}

main {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: white;
    color: black;
}
